<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      MY HEALTH
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col size-xl="6" size-xs="12" size-sm="10" size-md="8">
        <div style="padding:20px;">
          <h1>MY HEALTH</h1>
          <h3>This mini-app will help girls develop and instil good physical health habits</h3>
          <br/>
          <ion-item>
            <ion-label position="stacked">Select Heart Rate</ion-label>
            <ion-range min="0" max="150" step="1" snaps="true" pin="true" [(ngModel)]="heartRate">
              <ion-icon size="small" slot="start" name="pulse"></ion-icon>
              <ion-icon name="pulse" size="small"></ion-icon>
            </ion-range>
            {{heartRate}}
          </ion-item>
          <ion-button expand="block" round color="primary" (click)="postFeed()" [disabled]="!(isAuthorized$|async)">POST
            <ion-spinner name="bubbles" *ngIf="loading$|async"></ion-spinner>
          </ion-button>
          <a *ngIf="!(isAuthorized$|async)" routerLink="/login"> Login to post your mood</a>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>