<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Schedule" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      
    <ion-title>
      MY HEALTH
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px;">
        <h1>MY HEALTH</h1>
        <h3>This mini-app will help girls develop and instil good physical health habits</h3>
        <br/>
        <img src="assets/img/Demo2.png">
      </div>
</ion-content>