div.question {
    padding: 15px;
    background-color: #ededed;
    margin-bottom: 5px;
}
div.question ul {
    padding-left: 5px;
}
div.question li {
    list-style-type: none;
    cursor: pointer;    
    background: #e5053a;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
    margin-bottom: 5px;
    width: 30%;
}
div.question li.selected {
    font-weight: bold;
    background: #9e0428;
}
.graph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.graph-container .question-title {
    width: 100%;
}
.graph-container div.question {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 100px;
}
.graph-container div.question p {
    text-align: center;
}
.answer-column {
    background-color: antiquewhite;
    flex: 0 0 auto;
    text-align: center;
    color: #c0873c;
}
.toggle-mode {
    color: #888;
}