gi-opinion{
    h3.question{
        font-size:18px;
        color: #000; 
    }
    hr{
        background-color: var(--ion-color-primary);
    }
    ul{
        list-style: none;
        padding-left: 0px;
    }
    ul>li{
        font-size: 20px;
        color: var(--ion-color-primary);
        padding: 10px;
        display: flex;
        align-items: center;
    }
    ul>li:hover{
        background-color: #e1e1e1;
    }
    li.selected{
        background-color: #fff;
        border: 1px solid var(--ion-color-primary);
    }
    .response-label{
        text-align: center;
        font-weight: bold;
        color: var(--ion-color-primary);
    }
    .scale {
        display: flex;
        justify-content: space-between;
    }
    .scale > p {
        margin: 0;
        font-weight: bold;
    }
    .scale > p.selected {
        color: var(--ion-color-primary);
    }    
    ion-icon {
  font-size: 30px;
}
.icon-group{
   min-width: 70px;
    text-align: right;
    padding-right: 10px;
}
}