<!--<ion-grid *ngIf="post">
  <ion-row>
    <ion-col size="2">
      <ion-avatar class="header-avatar">
        <img src="/assets/img/avatar.png" />
      </ion-avatar>
    </ion-col>
    <ion-col size="6" align-self-center>
      <b>{{post.Name}}</b>
      <br/><small> {{post.Created|date}}</small>
    </ion-col>
    <ion-col offset="2">
      <ion-icon name="lock" *ngIf="!post.IsPublic"></ion-icon>
      <ion-icon name="globe" *ngIf="post.IsPublic"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>-->

<ion-item class="header-item">
  <ion-avatar class="header-avatar" slot="start">
    <img *ngIf="post.ProfileImageUrl" [src]="post.ProfileImageUrl" />
    <img *ngIf="!post.ProfileImageUrl" src="/assets/img/avatar.png" />
  </ion-avatar>
  <div>
    <strong class="requester-name" text-capitalize>{{post.Name |uppercase}}</strong>
    <div><small> {{post.Created|date}}</small></div>
  </div>
  <div slot="end">

    <ion-icon color="primary" name="eye" *ngIf="!post.IsPublic"></ion-icon>
    <ion-icon color="primary" name="ios-globe" *ngIf="post.IsPublic"></ion-icon>
  </div>
</ion-item>
<hr/>
<div class="post-item">
  <div [innerHTML]="safeHtml(post.PostText)"></div>
  <div *ngIf="post.Comments.length" text-left class="comment-overwiew"><small (click)="presentModal(post.Comments)">{{post.Comments.length}} Comments</small></div>
</div>
<hr/>
<div class="footer">
  <ng-container *ngFor="let item of post.Comments">
    <!--<div class="comment-box" style="padding:5px 10px;background-color: #f5f5f5;border-radius: 10px;" (click)="presentModal(post.Comments)">
      <small>{{item.Name|uppercase}} {{item.PostText}}</small></div>
    <hr>-->
    <ion-item class="comment-box" style="background-color: #fff" (click)="presentModal(post.Comments)">
      <ion-avatar class="footer-avatar" slot="start">
        <img *ngIf="item.ProfileImageUrl" [src]="item.ProfileImageUrl" />
        <img *ngIf="!item.ProfileImageUrl" src="/assets/img/avatar.png" />
      </ion-avatar>
      <small><b>{{item.Name|uppercase}}</b> {{item.PostText}}</small>
      <ion-icon slot="end" name="git-merge" color="primary"></ion-icon>
    </ion-item>
    <hr/>
  </ng-container>
  <ion-item class="comment-footer">
    <ion-avatar class="footer-avatar" slot="start">
      <img [src]="userImage" />
    </ion-avatar>
    <input type="text" placeholder="write a comment" [(ngModel)]="comment">
    <!--<ion-input placeholder="write a comment" [(ngModel)]="comment"></ion-input>-->
    <ion-button (click)="postComment()" [disabled]="!comment" slot="end" size="default" style="margin-left: 10px;">
      <!--<ion-icon name="send"></ion-icon>-->
      POST COMMENT
    </ion-button>
  </ion-item>
</div>