<!--<ion-grid *ngIf="post">
  <ion-row>
    <ion-col size="2">
      <ion-avatar class="header-avatar">
        <img src="/assets/img/avatar.png" />
      </ion-avatar>
    </ion-col>
    <ion-col size="6" align-self-center>
      <b>{{post.Name}}</b>
      <br/><small> {{post.Created|date}}</small>
    </ion-col>
    <ion-col offset="2">
      <ion-icon name="lock" *ngIf="!post.IsPublic"></ion-icon>
      <ion-icon name="globe" *ngIf="post.IsPublic"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>-->

<ion-item>
  <ion-avatar class="header-avatar" slot="start">
    <img *ngIf="post.ProfileImageUrl" [src]="post.ProfileImageUrl" />
    <img *ngIf="!post.ProfileImageUrl" src="/assets/img/avatar.png" />
  </ion-avatar>
  <div>
    <strong class="requester-name" text-capitalize>{{post.Name}}</strong>
    <div><small> {{post.Created|date}}</small></div>
  </div>
  <div slot="end">
    <ion-icon name="lock" *ngIf="!post.IsPublic"></ion-icon>
    <ion-icon name="globe" *ngIf="post.IsPublic"></ion-icon>
  </div>
</ion-item>
<div padding>
  <!--<div [innerHTML]="post.PostText"></div>-->
  <div [innerHTML]="safeHtml(post.PostText)"></div>
  <!--<gi-mood-image src="assets/img/mood/depression.jpg"></gi-mood-image>-->
</div>
<div class="footer">
  <div *ngIf="post.Comments.length" text-right class="comment-overwiew"><small (click)="presentModal(post.Comments)">{{post.Comments.length}} Comments</small></div>
  <hr/>
  <!--<ion-grid>
    <ion-row justify-content-between>
      <ion-col size="4">
        <small>
          <ion-icon name="chatbubbles"></ion-icon> Comment
        </small>
      </ion-col>
      <ion-col size="4">
        <small>
          <ion-icon name="share"></ion-icon> Share</small>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr/>-->
  <ng-container *ngFor="let item of post.Comments">
    <div class="comment-box" style="padding:5px 10px;background-color: #f5f5f5;border-radius: 10px;" (click)="presentModal(post.Comments)">
      <small><b>{{item.Name}}</b> {{item.PostText}}</small></div>
    <hr>
  </ng-container>
  <ion-item>
    <ion-avatar class="footer-avatar" slot="start">
      <img [src]="userImage" />
    </ion-avatar>
    <ion-input placeholder="Write a comment" [(ngModel)]="comment"></ion-input>
    <ion-button (click)="postComment()" [disabled]="!comment" slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</div>