<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Schedule" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  
    <ion-title>
      MY MOOD
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/img/Demo1.png">
  <div style="padding:20px;">
    <b>Description</b>
    <p>In psychology, a mood is an emotional state. In contrast to emotions, feelings, or affects, moods are less specific,
      less intense and less likely to be provoked or instantiated by a particular stimulus or event. Moods are typically
      described as having either a positive or negative valence. In other words, people usually talk about being in a good
      mood or a bad mood.</p>
  </div>
</ion-content>