<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  
    <ion-title>
      MY MOOD
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div style="padding:20px;">
        <h1>MY MOOD</h1>
        <h3>A mini-app to track, record and create awareness about moods and the effects they have on your mental and physical well being</h3>
        <br/>
        <img src="assets/img/Demo1.png">
      </div>
    
</ion-content>