<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{(pageModel$|async)?.page?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content> 
<ion-footer>
  <ion-toolbar>
    <ng-container *ngIf="(pageModel$|async) as pageModel">
      <gi-course-page-footer [pageModel]="pageModel" *ngIf="pageModel && pageModel?.page"></gi-course-page-footer>
    </ng-container>
  </ion-toolbar>
</ion-footer>