  ion-toolbar{
    --ion-color-base:rgba(245,245,245,0.7) !important;
    --ion-color-contrast:var(--ion-color-primary) !important;
  }

  ion-content{
    --ion-background-color:rgba(245,245,245,0.8);
   
  }
ion-avatar{
    width: 100px;
    height: 100px;
}