page-signup {
  .signup-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .signup-logo img {
    max-width: 150px;
  }

  .list {
    margin-bottom: 0;
  }
  .footer-login{
       text-align: center;
  }
}

  ion-toolbar{
    --ion-color-base:rgba(245,245,245,0.7) !important;
    --ion-color-contrast:var(--ion-color-primary) !important;
  }

  ion-content{
    --ion-background-color:rgba(245,245,245,0.8);
    
  }
