<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/G3-Girls.jpg" alt="GI logo">
  </div>
  <ion-text color="danger" *ngFor="let error of formErrors(forgotPasswordForm,submitted)">
    <strong>{{error.error}}</strong>: {{error.params}}
  </ion-text>
  <form [formGroup]="forgotPasswordForm">
    <ion-list padding>
      <p>Enter your email address and we will send you a link to reset your password</p>
      <ion-item>
        <ion-label position="stacked" color="primary">Enter your email address</ion-label>
        <ion-input formControlName="Email" name="username" type="text" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-text padding>
        <small *ngIf="forgotPasswordForm.get('Email').hasError('required') && forgotPasswordForm.get('Email').touched" padding-left>
          Email is required
        </small>
        <small *ngIf="forgotPasswordForm.get('Email').hasError('email') && forgotPasswordForm.get('Email').touched" padding-left>
          Email is invalid
        </small>
        <small *ngFor="let error of serverErrors('Email',forgotPasswordForm,submitted)">{{error.params}}</small>

      </ion-text>
      <div>
        <ion-button expand="block" (click)="onSubmit()" [disabled]="isLoading$|async">Send Password reset email
          <ion-spinner name="bubbles" *ngIf="isLoading$|async"></ion-spinner>
        </ion-button>
      </div>
    </ion-list>

  </form>

</ion-content>