<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/home"></ion-back-button>
          </ion-buttons>
        
      <ion-title>
        THE GREAT WHITE WALL
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div style="padding:20px;">
      <h1>THE GREAT WHITE WALL</h1>
      <h3>creates a safe space that allows girls to express their feelings and monitor their feelings within a community of support. </h3>
      <br/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/m0Tw0u_wEJY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </ion-content>
  