<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilters()"> Clear</ion-button>
    </ion-buttons>

    <ion-title>
      THE GREAT WHITE WALL
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="great-wall-content">
  <gi-gww-graph (nodeClick)="nodeClick($event)" [nodes]="nodes" [links]="links"></gi-gww-graph>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col size-xl="6" size-xs="12" size-sm="10" size-md="8">
        <h3 class="line">Wall Feed</h3>
        <div class="class-feed" *ngFor="let item of posts$ | async">
          <gi-great-wall-item [post]="item" [userImage]="userImage$|async"></gi-great-wall-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>