ion-content{
    background-color:#f5f5f5;
   
}
ion-content .class-feed{
       background-color: #fff;
       padding: 10px 10px 0px 10px;
       margin-bottom: 10px;
   }

 ion-toolbar{
    --ion-color-base:rgba(245,245,245,0.7) !important;
    --ion-color-contrast:var(--ion-color-primary) !important;
  }

  ion-content{
    --ion-background-color:rgba(245,245,245,0.8);
  }
