<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar class="footer-avatar" slot="start">
        <img src="/assets/img/avatar.png" />
      </ion-avatar>
      <div> <b>{{comment.Name}}</b>
        <br/>
        <p style="margin: 2px;">
          {{comment.PostText}}
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>