<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ng-container *ngFor="let comment of comments">
      <ion-row>
        <ion-col size="2" align-self-center>
          <ion-avatar class="footer-avatar">
            <img src="/assets/img/avatar.png" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <b>{{comment.Name}}</b>
          <br/>
          <p style="margin: 2px;">
            {{comment.PostText}}
          </p>
        </ion-col>
      </ion-row>
      <hr/>
    </ng-container>
  </ion-grid>
</ion-content>