div.question {
    margin-bottom: 5px;
}
 .question h3{
     color:#000;
 }
div.question ul {
    padding-left: 0px;
    list-style: none;
}
div.question li {
    font-size: 20px;
    cursor: pointer;    
    color:var(--ion-color-primary);
    padding: 10px;
}
div.question li:hover {
  background-color: #e1e1e1;
}
div.question li.selected {
    font-weight: bold;
    background: #fff;
    border:1px solid var(--ion-color-primary);
}
  hr{
        background-color: var(--ion-color-primary);
    }