<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Schedule" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      
    <ion-title>
      MY GOALS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/img/Demo3.png">
  <div style="padding:20px;">
    <b>Description</b>
    <p>A goal is an idea of the future or desired result that a person or a group of people envisions, plans and commits to achieve.People endeavor to reach goals within a finite time by setting deadlines.</p>
  </div>
</ion-content>
