<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title [routerLink]="['home']">
            <ion-icon name="home"></ion-icon> Home
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item-group>
              <ion-item [routerLink]="['home']">
                <ion-icon name="home" item-left></ion-icon>
                Home
              </ion-item>
            </ion-item-group>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item-group>
              <ion-item-divider color="light">
                <ion-item>
                  <ion-label>ClassRoom Mode</ion-label>
                  <ion-toggle (ionChange)="classRoomModeChange(classRoomMode.checked)" [checked]="classRoomMode$|async" #classRoomMode></ion-toggle>
                </ion-item>
              </ion-item-divider>
            </ion-item-group>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item-group>
              <ion-item-divider color="light" [routerDirection]="'root'">
                <ion-icon slot="start" name="contact"></ion-icon>
                <ion-label>Account</ion-label>
              </ion-item-divider>
              <ion-item [routerLink]="['login']" *ngIf="!(isUserAuthenticate$|async)">
                <ion-icon name="log-in"></ion-icon>Login
              </ion-item>
              <ion-item [routerLink]="['profile']" *ngIf="isUserAuthenticate$|async">
                <ion-icon name="person"></ion-icon>Profile
              </ion-item>
              <!--<ion-item>
                <ion-label>ClassRoom Mode</ion-label>
                <ion-toggle (ionChange)="classRoomModeChange(classRoomMode.checked)" [checked]="classRoomMode$|async" #classRoomMode></ion-toggle>
              </ion-item>-->
            </ion-item-group>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of (appPages$ | async).courseModules">
            <ion-item-group>
              <ion-item-divider color="light" [routerDirection]="'root'" [routerLink]="['course', p.urlName, p.sessions[0]?.urlName, p.sessions[0]?.pages[0]?.urlName]">
                <ion-icon slot="start" name="paper"></ion-icon>
                <ion-label>&nbsp;{{p.id}}: {{p.name}}</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let s of p.sessions" [routerLink]="['course', p.urlName, s.urlName, s.pages[0]?.urlName]">
                <ion-icon name="ios-arrow-forward"></ion-icon> {{s.name}}</ion-item>
            </ion-item-group>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>