<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title [routerLink]="['home']">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages$ | async">
            <ion-item [routerDirection]="'root'" [routerLink]="['course', p.urlName, p.sessions[0].urlName, p.sessions[0].pages[0].urlName]">
              <ion-icon slot="start" name="bonfire"></ion-icon>
              <ion-label>
                {{p.name}}
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let s of p.sessions" [routerLink]="['course', p.urlName, s.urlName, s.pages[0].urlName]">{{s.name}}</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
