<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Mind & Body</span>
      <img src="/assets/gi-transp.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card (click)="goToDetail('my-mood')" text-center>
          <ion-card-content>
            <h2>
              <ion-icon name="happy"></ion-icon>
            </h2>
            My Mood
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="goToDetail('my-health')" text-center>
          <ion-card-content>
            <h2>
              <ion-icon name="fitness"></ion-icon>
            </h2>
            My Health
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="goToDetail('my-goals')" text-center>
          <ion-card-content>
            <h2>
              <ion-icon name="ribbon"></ion-icon>
            </h2>
            My Goals
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="goToDetail('find-help')" text-center>
          <ion-card-content>
            <h2>
              <ion-icon name="medkit"></ion-icon>
            </h2>
            Find Help
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center>
          <ion-card-content>
            <h2>
              <ion-icon name="school"></ion-icon>
            </h2>
            Lessons
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>