<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Mind & Body</span>
      <img src="/assets/gi-transp.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card routerLink="my-mood" routerDirection="forward">
          <ion-card-content>
            <h1>
              <ion-icon name="happy"></ion-icon>
            </h1>
            My Mood
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card [routerLink]="['my-health']" routerDirection="backward">
          <ion-card-content>
            <h1>
              <ion-icon name="fitness"></ion-icon>
            </h1>
            My Health
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card [routerLink]="['my-goals']">
          <ion-card-content>
            <h1>
              <ion-icon name="ribbon"></ion-icon>
            </h1>
            My Goals
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card [routerLink]="['find-help']">
          <ion-card-content>
            <h1>
              <ion-icon name="medkit"></ion-icon>
            </h1>
            Find Help
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
          <ion-card>
            <ion-card-content>
              <h1>
                <ion-icon name="school"></ion-icon>
              </h1>
              Lessons
            </ion-card-content>
          </ion-card>
        </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>