<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span>Mind & Body</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><img class="gi-logo" src="/assets/img/logo-primary.png" /></ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="home-page" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToDetail('my-mood')" text-center>
          <ion-card-content>
            <img src="/assets/img/myMood.svg" height="150px" /> My Mood
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card text-center [routerLink]="['/course','welcome-to-mind-body', 'introduction', 'introduction']">
          <ion-card-content>
            <img src="/assets/img/Lessons.svg" height="150px" /> Lessons
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToDetail('find-help')" text-center>
          <ion-card-content>
            <img src="/assets/img/findHelp.svg" height="150px" /> Find Help
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goToDetail('my-health')" text-center>
          <ion-card-content>
            <img src="/assets/img/myHealth.svg" height="150px" /> My Health
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToDetail('my-goals')" text-center>
          <ion-card-content>
            <img src="/assets/img/myGoals.svg" height="150px" /> My Goals
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="goToDetail('great-wall')" text-center no-wrap>
          <ion-card-content>
            <img src="/assets/img/bigWhiteWall.svg" height="150px" /> Great White Wall
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>