gi-character-pharse-img{
     .character-phrase-block {
       display: flex;
       width: 100%;
       min-height: 200px;
       
    }
    .character-phrase-block .character-image-block{
        float: left;
        width: 20%;
        transform: rotateY(180deg);
    }
 

    img {
        max-width: 100%;
        border: 0;
    }
    .character-phrase-block .character-image-block .image-animation{
        -webkit-animation-name: character-image-animation;
        animation-name: character-image-animation;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
    .character-text-block{
        width: 80%;
    }
    // .triangle-border {
    //    border: 1px solid var(--ion-color-primary);
    //    border-radius: 10px;
    //    background-color: rgb(229,229,229);
    //    padding: 10px;
    //    text-align:center;
    //    position: relative;
    // }
     .triangle-border * {
       margin: 0px;
    }
    .triangle-border.left {
        margin-right: 30px;
    }

// .triangle-border:after {
// 	content: '';
// 	position: absolute;
// 	right: 0;
// 	top: 50%;
// 	width: 0;
// 	height: 0;
// 	border: 20px solid transparent;
// 	border-left-color: rgb(229,229,229);
// 	border-right: 0;
// 	border-bottom: 0;
// 	margin-top: -10px;
// 	margin-right: -20px;
// }
.triangle-border {
    margin: 15px 30px;
    background-color: rgb(229,229,229);
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.triangle-border:after,
.triangle-border:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-border:after {
    top: 34px;
    border-color: transparent transparent transparent rgb(229,229,229);
    // border-width: 10px;
        border-width: 18px 0px 0px 23px;
}

.triangle-border:before {
    top: 33px;
    border-color: transparent transparent transparent #a00;
    // border-width: 11px;
    border-width: 20px 0px 0px 25px;
}
}