gi-assignment{
    .assignment{
padding-top: 10px;
    }
    
  .assignment-header{
   padding: 15px;
   background-color: rgba(213,213,213,0.5);
   text-transform: uppercase;
}

.assignment-header h3{
   color: #333;
   padding-top:0px;
   padding-bottom:0px; 
   margin: 0px;
}

.assignment-body{
    padding: 15px;
    background-color: #fff;
}
}