.course-page-view-container{
    padding: 15px;
}
ion-content{
background-color: rgba(245,245,245,0.8);
  .course-page-view-container{
    padding: 20px;
  }
}

gi-data-provider{
 hr.line{
  --ion-color-base:var(--ion-color-primary) !important;
  --ion-background-color:var(--ion-color-primary) !important;
  background-color: red;
 }
}


@media screen and (min-width: 760px) {
ion-content{
background-color: rgba(245,245,245,0.8);
  .course-page-view-container{
    padding: 20px 10%;
  }
}
}